<div class="row chat-wrapper">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="row position-relative">
         
            <div class="col-lg-8 chat-content">
              <div class="chat-header border-bottom pb-2">
                <div class="d-flex justify-content-between">
                  <div class="d-flex align-items-center">
                    <i (click)="backToChatList()" class="feather icon-corner-up-left icon-md me-2 ms-n2 text-muted d-lg-none"></i>
                    <figure class="mb-0 me-2">
                      <img src="https://via.placeholder.com/43x43" class="img-sm rounded-circle" alt="image">
                      <div class="status online"></div>
                      <div class="status online"></div>
                    </figure>
                    <div>
                      <p>Mariana Zenha</p>
                      <p class="text-muted tx-13">Front-end Developer</p>
                    </div>
                  </div>
                 
                </div>
              </div>
              <div class="chat-body" [perfectScrollbar]>
                <ul class="messages">
                  <li class="message-item friend">
                    <img src="https://via.placeholder.com/37x37" class="img-xs rounded-circle" alt="avatar">
                    <div class="content">
                      <div class="message">
                        <div class="bubble">
                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>
                        <span>8:12 PM</span>
                      </div>
                    </div>
                  </li>
                  <li class="message-item me">
                    <img src="https://via.placeholder.com/37x37" class="img-xs rounded-circle" alt="avatar">
                    <div class="content">
                      <div class="message">
                        <div class="bubble">
                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry printing and typesetting industry.</p>
                        </div>
                      </div>
                      <div class="message">
                        <div class="bubble">
                          <p>Lorem Ipsum.</p>
                        </div>
                        <span>8:13 PM</span>
                      </div>
                    </div>
                  </li>
                  <li class="message-item friend">
                    <img src="https://via.placeholder.com/37x37" class="img-xs rounded-circle" alt="avatar">
                    <div class="content">
                      <div class="message">
                        <div class="bubble">
                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>
                        <span>8:15 PM</span>
                      </div>
                    </div>
                  </li>
                  <li class="message-item me">
                    <img src="https://via.placeholder.com/37x37" class="img-xs rounded-circle" alt="avatar">
                    <div class="content">
                      <div class="message">
                        <div class="bubble">
                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry printing and typesetting industry.</p>
                        </div>
                        <span>8:15 PM</span>
                      </div>
                    </div>
                  </li>
                  <li class="message-item friend">
                    <img src="https://via.placeholder.com/37x37" class="img-xs rounded-circle" alt="avatar">
                    <div class="content">
                      <div class="message">
                        <div class="bubble">
                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>
                        <span>8:17 PM</span>
                      </div>
                    </div>
                  </li>
                  <li class="message-item me">
                    <img src="https://via.placeholder.com/37x37" class="img-xs rounded-circle" alt="avatar">
                    <div class="content">
                      <div class="message">
                        <div class="bubble">
                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry printing and typesetting industry.</p>
                        </div>
                      </div>
                      <div class="message">
                        <div class="bubble">
                          <p>Lorem Ipsum.</p>
                        </div>
                        <span>8:18 PM</span>
                      </div>
                    </div>
                  </li>
                  <li class="message-item friend">
                    <img src="https://via.placeholder.com/37x37" class="img-xs rounded-circle" alt="avatar">
                    <div class="content">
                      <div class="message">
                        <div class="bubble">
                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>
                        <span>8:22 PM</span>
                      </div>
                    </div>
                  </li>
                  <li class="message-item me">
                    <img src="https://via.placeholder.com/37x37" class="img-xs rounded-circle" alt="avatar">
                    <div class="content">
                      <div class="message">
                        <div class="bubble">
                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry printing and typesetting industry.</p>
                        </div>
                        <span>8:30 PM</span>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>