<!-- <p>bank-category-mapper works!</p> -->
<div class="row">
  <div class="card">



    <div class="tab-content mt-3" id="lineTabContent">
      <div class="tab-pane fade show active" #home id="home" role="tabpanel" aria-labelledby="home-line-tab">
        <div class="card-header row">
          <div class="col">
            <h4>Service Provider Mapping
            </h4>
          </div>

        </div>

        <div class="card-body bg-white">
          <form [formGroup]="serviceProviderForm">
            <div class="row">

              <div class="col-sm-6">
                <div class="mb-6">
                  <label class="form-label">Service Provider Name</label>
                  <input autocomplete="new-password" class="form-control" formControlName="bankId" id="Payid"
                    placeholder="Service Provider" type="text" maxlength="40">


                </div>
              </div>
              <div class="col-sm-2" style="padding: 2.4%;">
                <div class="mb-3">
                  <button type="button" class="btn btn-light form-control" (click)="onAddNew($event)">
                    Ad
                    New<i class="feather icon-plus"></i></button>
                </div>
          
                  
              </div>
           
              <div class="col-sm-2" style="padding: 2.4%;">
                <div class="mb-3">
                  <button class=" btn btn-primary form-control pull-right" (click)="onSubmit(serviceProviderForm.value)" type="submit"
                  [disabled]="this.loading">
                    <span id="loading" role="status" aria-hidden="true"></span>
                    Search
                  </button>
                </div>
              
              </div>
           
<!--              
              <div class="col-sm-2">
               
              </div>
              <div class="col-sm-2"></div> -->







            </div>


            <!-- <div class="row">
              <div class="col-md-8"></div>
              <div class="col-md-2">
               
               
              </div>
              <div class="col-md-2">
               
              </div>
            </div> -->
          </form>
        </div>
      </div>



    </div>





  </div>
</div>

<div *ngIf=" this.showhide">
  <div class="row mb-md-2 mt-2">
    <div class="col-xl-10 main-content">
      <!-- <button  class="btn btn-light" type="button">Export CSV<i
              class="feather icon-download"></i>
          </button> -->

      <div class="btn-group" ngbDropdown role="group">
        <button class="btn btn-primary" ngbDropdownToggle></button>
        <div ngbDropdownMenu class="ng-dropdown-panel-items p-1"
          style="height: 250px;width: 250px; overflow: scroll; scroll-behavior: smooth">
          <div class="form-group">
            <!--            <label for="columns" class="form-label"> All Columns <span aria-hidden="true" class="symbol required" style="color:red;">*</span></label>-->
            <div *ngIf="columnDefs" class="list-group ng-option">
              <span *ngFor="let column of columnDefs; let i = index" class="checkbox">
                <label class="list-group-item p-2">
                  <input class="form-check-input me-1" type="checkbox" value="{{i}}" name="{{column.headerName}}"
                    (change)="updateSelectedTimeslots($event)"
                    [checked]="(tableSelectedColumn && (-1 !==tableSelectedColumn.indexOf(column)) ? 'checked': '')">
                  {{column?.field?.replace('_',' ')?.replace('_',' ')?.replace('_',' ') | uppercase }}
                </label>
              </span>
            </div>

          </div>


        </div>
      </div>


    </div>

  </div>


  <div class="row" style="min-height: 400px">
    <div class="col-12 col-xl-12 stretch-card ag-theme-alpine">
      <ag-grid-angular [enableCellTextSelection]=true [columnDefs]="columnDefs" [defaultColDef]="defaultColDef"
        class="ag-theme-alpine" [rowData]="rowData" (firstDataRendered)="dataRendered($event)"
        (gridReady)="onGridReady($event)" [paginationPageSize]="pageSize" [pagination]="true" [rowSelection]="'single'"
        [suppressPaginationPanel]="true" style="width: 100%; height: auto;">
      </ag-grid-angular>
    </div>
  </div>
  <div class="row bg-white p-2 mt-0">
    <div class="col-md-4">
      <select (change)="onPageSizeChanges($event)" [(ngModel)]="pageSize"
        class="form-select d-flex justify-content-end col-4" name="pageSize" style="width: auto">
        <option [ngValue]="10">10</option>
        <option [ngValue]="20">20</option>
        <option [ngValue]="30">30</option>
      </select>
    </div>

    <div class="col-md-8">
      <ngb-pagination (pageChange)="onPaginationChange($event)" [(page)]="currentPage" [boundaryLinks]="true"
        [collectionSize]="collectionSize" [maxSize]="5" [pageSize]="pageSize" [rotate]="true"
        class="d-flex justify-content-end align-right">
      </ngb-pagination>
    </div>

  </div>
</div>

<app-modal #modalbloked [modalConfig]="modalConfigBlocked">
  <app-bank-category-mapper-view (closeModal)="closeModalBlocked($event)" [merchantStatusConfig]="tableInfo"
    [onMerchantMId]="BlockedmerchantSelectEvent"
    [onMerchantAdd]="AddmerchantSelectEvent"></app-bank-category-mapper-view>
</app-modal>